<div class="home-video-wrapper d-flex align-items-center justify-content-center">
  <%= video_tag "beach.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <button type="button" class="btn btn-outline-secondary btn-lg"><a id="landing" href="/users/sign_in">Enter A World of Luxury</a></button>
</div>